{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFacebook</title>
    <link rel="stylesheet" href="{% static 'feeds/css/feeds.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <body>
    
        <div class="header">
            <div>
            <a href="{% url 'home' %}"><img src="https://image.flaticon.com/icons/png/512/33/33702.png" alt="facebook logo"></a>
            <span>&emsp;|&emsp; MyFacebook</span>
            </div>
            <div>
            <form action="" id="search">
                <input type="text" name="search" placeholder="Search">
            </form>
            </div>
            <div>
            <a href=""><i class="material-icons">explore</i></a>
            <a href=""><i class="material-icons">notifications</i></a>
            <a href=""><i class="material-icons">person</i></a>
            <a href="{% url 'logout' %}"><span>Log Out</span></a>
            </div>
        </div>
        <div class="main">
        <div class="left_gap"></div>
        <div class="content">
            <form action="" class="create_post">
                <div id="post_head">Create Post</div>
                <div>
                <img src="" alt="profile image">
                <input type="text" placeholder="What's on your mind ?" name="post_text">
                <hr>
                <div id="feeling">
                <select name="" ></select>
                <hr>
                </div>
                <button>Photo/Video</button>
                <input type="file" id="photo">
                <button id="feel_button"><i class="material-icons">tag_faces</i>&emsp;Feeling/Activity</button>
                </div>
                <div id="feed_story">
                    <input type="radio" value="story"><i class="material-icons"></i>&nbsp;Your Story&emsp;<br><br>
                    <input type="radio" value="feed" checked><i class="material-icons">&nbsp;assignment</i> News Feed<br><br>
                    <input type="submit" value="Post" id="feed_post">
                </div>
                
            </form>
            
            {% for post in posts %}
            <div class="post">
                <div class="post_header">
                    <img src="" alt="user profile pic">
                    <span> {{post.author.first_name}} </span>
                    <span>{{post.date_posted}}</span>
                    <a href=""> Follow </a>
                </div>
                <div id="post_img">
                    <img src="{{post.image.url}}" alt="post pic">
                </div>
                <div>
                    <h5>{{post.text|safe|urlize}}</h5>
                </div>
                <div>
                    <i class="glyphicon glyphicon-heart-empty"></i> no of likes &emsp;
                    <a href=""><i class="glyphicon glyphicon-comment"></i></a> no of comments 
                </div>
                <div>
                    <hr>
                    <form action="">
                        <input type="text" name="comment" placeholder="Add a comment..." id="comment"> 
                    </form>
                </div>
            </div>
                {% endfor %}
            


        </div>
        <div class="pages">

            <div id="profile">
                <img src="" alt="profile pic">
                <p>
                    username
                    <br>
                    first last name
                </p>
            </div>
            <div class="stories">
                <h3>Stories</h3>
                <ul>

                    <li>
                        <img src="" alt="user profile pic"> user name 

                    </li>

                </ul>
            </div>
            <div class="suggestions">
                <h3>Suggestions for you</h3>
                <ul>

                    <li>
                        <img src="" alt="user profile pic"> user name 
                        <a href="">follow or unfollow</a>
                    </li>

                </ul>
            </div>

        </div>
        <div class="right_gap"></div>
    </div>
    <script src="{% static 'feeds/js/feeds.js' %}"></script>
</body>
</html>


