{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFacebook</title>
    <link rel="stylesheet" href="{% static 'feeds/css/feeds.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div>
            <a href="{% url 'home' %}"><img src="https://image.flaticon.com/icons/png/512/33/33702.png" alt="facebook logo" class="logo"></a>
            <h1>&emsp;|&emsp; MyFacebook</h1>
            </div>
            <div>
            <form action="" class="search" id="search">
                <input type="text" name="search" placeholder="Search">
            </form>
            </div>
            <div>
            <a href=""><i class="material-icons">explore</i></a>
            <a href=""><i class="material-icons">notifications</i></a>
            <a href=""><i class="material-icons">person</i></a>
            <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        <div class="left_gap"></div>
        <div class="content">

            <div class="post">
                <div class="post_header">
                    <img src="" alt="user profile pic">
                    <span> user name </span>
                    <a href=""> Follow </a>
                </div>
                <div>
                    <img src="" alt="post pic">
                </div>
                <div>
                    <i class="glyphicon glyphicon-heart-empty"></i> no of likes &emsp;
                    <a href=""><i class="glyphicon glyphicon-comment"></i></a> no of comments 
                </div>
                <div>
                    <hr>
                    <form action="">
                        <input type="text" name="comment" placeholder="Add a comment..." id="comment"> 
                    </form>
                </div>
            </div>

        </div>
        <div class="pages">

            <div id="profile">
                <img src="" alt="profile pic">
                <p>
                    username
                    <br>
                    first last name
                </p>
            </div>
            <div class="stories">
                <h3>Stories</h3>
                <ul>

                    <li>
                        <img src="" alt="user profile pic"> user name 

                    </li>

                </ul>
            </div>
            <div class="suggestions">
                <h3>Suggestions for you</h3>
                <ul>

                    <li>
                        <img src="" alt="user profile pic"> user name 
                        <a href="">follow or unfollow</a>
                    </li>

                </ul>
            </div>

        </div>
        <div class="right_gap"></div>
    </div>
    <script src="{% static 'feeds/js/feeds.js' %}"></script>
</body>
</html>
