<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFacebook</title>
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div>
            <img src="images/facebook.png" alt="facebook logo" class="logo">
            <h1>&emsp;|&emsp; MyFacebook</h1>
            </div>
            <div>
            <form action="" class="search" id="search">
                <input type="text" name="search" placeholder="Search">
            </form>
            </div>
            <div>
            <a href=""><i class="material-icons">explore</i></a>
            <a href=""><i class="material-icons">notifications</i></a>
            <a href=""><i class="material-icons">person</i></a>
            <a href="">Log Out</a>
            </div>
        </div>
        <div class="left_gap"></div>
        <div class="content">

            <div class="post">
                <div class="post_header">
                    <img src="{{ user profile pic }}" alt="user profile pic">
                    <span>{{ user name }}</span>
                    <a href="">{{ Follow }}</a>
                </div>
                <div>
                    <img src="{{ post image }}" alt="post pic">
                </div>
                <div>
                    <i class="glyphicon glyphicon-heart-empty"></i>{{ no of likes }}&emsp;
                    <a href=""><i class="glyphicon glyphicon-comment"></i></a>{{ no of comments }}
                </div>
                <div>
                    <hr>
                    <form action="">
                        <input type="text" name="comment" placeholder="Add a comment..." id="comment"> 
                    </form>
                </div>
            </div>

        </div>
        <div class="pages">

            <div>
                <img src="" alt="profile pic">
                
            </div>
            <div>

            </div>
            <div>

            </div>

        </div>
        <div class="right_gap"></div>
    </div>
    <script src="scripts/profile.js"></script>
</body>
</html>
