<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home!</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Home!!</h1>
      <h3><a href="{% url 'admin:index' %}">Admin</a></h3>
      {% if user.is_authenticated %}
      <h3><a href="{% url 'create' %}">Post++</a</h3>
      <h3><a href="{% url 'logout' %}">Logout</a</h3>
      <h3><a href="{% url 'feeds' %}">Feeds</a</h3>
      <h3><a href="{% url 'profile' %}">Profile</a></h3>
      
      {% else %}
      <h3><a href="{% url 'login_signup' %}">Login & Signup</a></h3>
      {% endif %}
    </div>

    </body>
</html>