{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFacebook - login or signup</title>
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class='main'>
        <div class="logo">
            <h1>MyFacebook</h1>
        </div>
        <div class="login">
            <form method="POST" action="">
                {% csrf_token %}
                <label for=".username">Email or phone&emsp;&emsp;&emsp;&emsp;</label>
                <label for=".password">Password</label><br>
                <input type="text" class='username log' name="username" id="username">
                
                <input type="password" class='password log' name="password" id="log_pwd">
                <input type="submit" value="Login" name="login" id="login">
                <br><small><a href="#">&emsp;Forgot password?</a></small>
            </form>
        </div>
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>
                {% endfor %}

              {% endif %}

        <div class="image">
            <h3>MyFacebook helps you connect and share with the people in your life.</h3>
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png?_nc_x=Ij3Wp8lg5Kz" alt="world connect image">
        </div>
        <div class="register">
            <h1>Create an account</h1>
            <h4>It's quick and easy.</h4>
            <form  method="POST" action="">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="First name" class="half" id="f_name">
                <input type="text" name="last_name" placeholder="Last name" class="half" id="l_name"><br><br>
                <input type="email" name="email" placeholder="Email" class="full" id="email"><br><br>
                <input type="password" name="password" placeholder="New password" class="full" id="pass"><br>
                <p>Birthday</p>
                <input type="date" name="DOB" class="half">&emsp;<i class="material-icons" title="Your age should be greater than 18.">help</i>
                <p>Gender</p>
                <input type="radio" name="gender" checked>Male&emsp;&emsp;
                <input type="radio" name="gender">Female&emsp;&emsp;
                <input type="radio" name="gender">Custom
                <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. <br>You may receive SMS notifications from us and can opt out at any time.</p>
                
                <input type="submit" id="signup" name="signup" value="SIGNUP">
            </form>
            <h5>Create a Page for a celebrity, band or business.</h5>
        </div>
        <div class="footer">
            <p>Sign Up      &emsp; Log In &emsp;  Messenger     &emsp;Facebook Lite&emsp;   People&emsp;   Pages&emsp;   Page categories&emsp;     Places&emsp;      Games&emsp;       Locations&emsp;       Marketplace&emsp;     Groups&emsp;      Instagram&emsp;       Local&emsp; <br><br> Fundraisers&emsp;     Services&emsp;        About&emsp;       Create ad       &emsp;Create Page&emsp;     Developers&emsp;      Careers&emsp;     Privacy&emsp;     Cookies&emsp;     AdChoices&emsp;       Terms&emsp;       Account security&emsp;        Login help&emsp;      Help</p>
        </div>
    </div>


    <script src="{% static 'users/js/js.js' %}"></script>
</body>
</html>