*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.main{
    display:grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    background:#fafafa;
    padding-top:90px;
    
}

.header{
    display:flex;
    justify-content: space-evenly;
    background: #4267b2;
    padding: 13px 0;
    color:white;
    font-size: 24px;
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
}

.header img{
    width:23px;
}

.header a{
    padding-left:15px;
    color:white;
    text-decoration: none;
}

#search input{
    width:100%;
    color:black;
    font-size:15px;
    padding: 6px;
}

.left_gap{
    grid-column: span 1;
}

.content{
    grid-column: span 1;
    padding: 10px;

}

.pages{
    grid-column: span 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: sticky;
    top:90px;
    height:80vh;
}

.right_gap{
    grid-column: span 1;
    padding: 10px;
    
}

a{
    text-decoration: none;
}

#post_img img{
    width:100%;
    padding: 10px 0;
    max-height: 60vh;
}

.post{
    width:100%;
    margin:10px 0;
    border:1px solid lightgray;
    background: white;
    padding: 10px;
}

#comment{
    width:100%;
    border: none;
}

#profile{
    display: grid;
    grid-template-columns: 50% 50%;
}

#profile img{
    grid-column: span 1;
}

#profile p{
    grid-column: span 1;
}

.stories{
    overflow-y: scroll;
    border:1px solid lightgray;
    padding: 10px;
}

.stories ul{
    list-style-type: none;
}

.suggestions{
    overflow-y: scroll;
    border:1px solid lightgray;
    padding: 10px;
}

.suggestions ul{
    list-style-type: none;
}
